<div class="block">
  <%= form_with(model: task) do |form| %>
    <%= form.check_box :completed %>
    <%= task.description %>
  <% end %>

  <%= link_to "Edit", edit_task_path(task)  %>
  <div>
    <%= button_to "Delete", task_path(task),
                  method: :delete,
                  data: { action: "tasks#delete" }%>
  </div>
</div>